**/.terraform/*
.terraform/
elastic/
rds/
s3/
*.DS_Store
kompose/kubeconfig
cicd/kubeconfig
terraform.tfstate
terraform.tfstate.backup
environments.txt
iac-output.txt
kubeconfig
nohup.out
full-run
kms-key
sage
*.tf.bak
.vscode-upload.json
config_map_aws_auth.yaml
retrospider_genre.zip
retrospider_language.zip
retrospider_sequencematcher.zip
retrospider_spacy.zip
outputs.txt
*.log
test
tf-backend-s3/tfs3
.terraform.tfstate.lock.info
